################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/pobeda-back(C++)/Backend/Backend/x64/Debug
/pobeda-back(C++)/Backend/x64/Debug
/pobeda-back(C++)/Backend/Backend.sln
/pobeda-back(C++)/Backend/Backend/Backend.vcxproj.user
/pobeda-back(C++)/Backend/Backend/Backend.vcxproj.filters
/pobeda-back(C++)/Backend/Backend/Backend.vcxproj
/pobeda-back(C++)/Backend/.vs/Backend/v16/ipch/AutoPCH
/pobeda-back(C++)/Backend/.vs/Backend/v16/Browse.VC.opendb
/pobeda-back(C++)/Backend/.vs/Backend/v16/Browse.VC.db-wal
/pobeda-back(C++)/Backend/.vs/Backend/v16/Browse.VC.db-shm
/pobeda-back(C++)/Backend/.vs/Backend/v16/Browse.VC.db
/pobeda-back(C++)/Backend/.vs/Backend/v16/.suo
/pobeda-back(C++)/Backend/.vs/Backend/v16
