################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


/NikFiles/Test2/Test2/Test2.sln
/NikFiles/Test2/Test2/Test2/Test2.vcxproj.user
/NikFiles/Test2/Test2/Test2/Test2.vcxproj.filters
/NikFiles/Test2/Test2/Test2/Test2.vcxproj
/NikFiles/Test2/Test2/Test2/Debug/vcpkg.applocal.log
/NikFiles/Test2/Test2/Test2/Debug/vc142.pdb
/NikFiles/Test2/Test2/Test2/Debug/vc142.idb
/NikFiles/Test2/Test2/Test2/Debug/Test2.tlog/Test2.write.1u.tlog
/NikFiles/Test2/Test2/Test2/Debug/Test2.tlog/Test2.lastbuildstate
/NikFiles/Test2/Test2/Test2/Debug/Test2.tlog/link.write.1.tlog
/NikFiles/Test2/Test2/Test2/Debug/Test2.tlog/link.read.1.tlog
/NikFiles/Test2/Test2/Test2/Debug/Test2.tlog/link.command.1.tlog
/NikFiles/Test2/Test2/Test2/Debug/Test2.tlog/CL.write.1.tlog
/NikFiles/Test2/Test2/Test2/Debug/Test2.tlog/CL.read.1.tlog
/NikFiles/Test2/Test2/Test2/Debug/Test2.tlog/CL.command.1.tlog
/NikFiles/Test2/Test2/Test2/Debug/Test2.tlog
/NikFiles/Test2/Test2/Test2/Debug/Test2.log
/NikFiles/Test2/Test2/Test2/Debug/Test2.exe.recipe
/NikFiles/Test2/Test2/Test2/Debug/Source.obj
/NikFiles/Test2/Test2/Debug/Test2.pdb
/NikFiles/Test2/Test2/Debug/Test2.ilk
/NikFiles/Test2/Test2/Debug/Test2.exe
/NikFiles/Test2/Test2/Debug
/NikFiles/Test2/Test2/.vs/Test2/v16/ipch/AutoPCH/45b83c3222aeb12d/SOURCE.ipch
/NikFiles/Test2/Test2/.vs/Test2/v16/ipch/AutoPCH/45b83c3222aeb12d
/NikFiles/Test2/Test2/.vs/Test2/v16/Browse.VC.opendb
/NikFiles/Test2/Test2/.vs/Test2/v16/Browse.VC.db-wal
/NikFiles/Test2/Test2/.vs/Test2/v16/Browse.VC.db-shm
/NikFiles/Test2/Test2/.vs/Test2/v16/Browse.VC.db
/NikFiles/Test2/Test2/.vs/Test2/v16/.suo
/NikFiles/Test2/Test2/.vs/Test2/v16
