<h3 class="title">Распределение прибыли за период по дням</h3>
<div class="chart-container">
	<ngx-charts-bar-vertical
		[scheme]="colorScheme"
		[results]="single | async"
		[gradient]="gradient"
		[xAxis]="showXAxis"
		[yAxis]="showYAxis"
		[legend]="showLegend"
		[showXAxisLabel]="showXAxisLabel"
		[showYAxisLabel]="showYAxisLabel"
		[xAxisLabel]="xAxisLabel"
		[yAxisLabel]="yAxisLabel"
		[xAxisTickFormatting]="xAxisTickFormatting"
		[barPadding]="1"
		[roundEdges]="false"
		(select)="onSelect($event)">
	</ngx-charts-bar-vertical>
</div>